@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: white; /* Text color */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* Outline color */
}

.height {
  rem:4;
}